[data-theme='1'] {
    --color: #000000;
    --background: #FFFFFF;
}

[data-theme='2'] {
    --color: #000000;
    --background: #DDEEFF;
}

[data-theme='3'] {
    --color: #FFFFFF;
    --background: #212A34;
}

html {
    background-color: var(--background);
    color: var(--color);
}

.select {
    text-transform: capitalize;
    font-size: 14px;
    padding: 10px 10px;
    font-family: 'Montserrat';
    background-color: inherit;
    color: inherit;
}


[data-theme='3'] option{
    color: #FFFFFF;
    background: #212A34;
}

[data-theme='2'] option{
    color: #000000;
    background: #DDEEFF;
}
