.message {
    margin-bottom: 30px;
}

.imageAndText {
    display: flex;
    flex-direction: row-reverse;
    align-items: end;
    gap: 10px;
}

.imageAndText img {
    width: 48px;
    height: 48px;
}

.text {
    z-index: 1000;
    position: relative;
    height: fit-content;
    width: fit-content;
    text-align: end;
    padding: 8px 13px;
    background-color: #0066cc;
    border-radius: 10px;
    box-shadow:
        0px 5px 20px 0px rgba(29, 33, 38, 0.03),
        0px 1px 2px 0px rgba(29, 33, 38, 0.1);
}

.text:after {
    /* content: '';
    display: inline-block;
    position: absolute;
    bottom: 0;
    right: -8px;
    width: 50px;
    height: 10px;
    -webkit-transform: skew(60deg);
    -moz-transform: skew(60deg);
    -o-transform: skew(60deg);
    transform: skew(60deg);
    z-index: 1;
    background-color: #0066cc; */
}

.name {
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 4px;
}

.messageText {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    color: #fff;
}

.time {
    text-align: end;
    margin: 5px 11px;
    font-size: 10px;
    font-weight: 600;
}
