.loader {
    width: 24px;
    height: 24px;

    background: url('./loader.svg') center / contain no-repeat;

    animation: spin 0.1s linear infinite;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}