.item {
    font-size: 16px;
}

.item:last-of-type {
}

.users {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
}

.users tbody tr td {
    padding: 16px;
    border-bottom: 1px solid #e5e5e5;
}

.users tbody tr:last-child td {
    border-bottom: none;
}

.buttonsContainer {
    display: flex;
    justify-content: end;
    gap: 12px;
    margin-bottom: 18px;
}

.container {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.thead {
    font-size: 16px;
    font-weight: 600;
    background-color: #e5e5e5;
}

.thead td {
    padding: 11px 17px;
    text-align: left;
}

.nameCol {
    width: 50%;
}

.ageCol {
}

.thead tr:first-child td:first-child {
    border-top-left-radius: 4px;
}

.thead tr:first-child td:last-child {
    border-top-right-radius: 4px;
}

.users tbody td:nth-child(2) {
    font-weight: 600;
}
