.item {
    background-color: rgb(112, 112, 207);
}

.item:last-of-type {
}

.users {
    border: 2px solid black;
    width: 400px;
}

.buttonsContainer {
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
}

.container {
    display: flex;
    flex-direction: column;
}

.thead {
    height: 60px;
}

.nameCol {
    background-color: rgb(201, 77, 77);
}

.ageCol {
    background-color: rgb(67, 138, 138);
}
